body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#login-form-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

#login-form-container div, #chat-form-container div {
    margin-top: 10px;
}

#chat-form-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

#message-history-container {
    width: 30%;
    min-width: 250px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#message-history-container div {
    margin-top: 10px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 20px;
}

input[type=submit] {
    background-color: rgb(85, 107, 47);
    color: white;
    border: none;
    padding: 10px;

}

input[type=submit]:hover {
    background-color: rgb(115, 148, 58);
    color: white;
    border: none;
    padding: 10px;
}

input[type=submit]:active {
    background-color: rgb(86, 144, 95);
    color: white;
    border: none;
    padding: 10px;
}

input[type=text], input[type=password] {
    box-sizing: border-box;
    margin: auto;
    max-width: 100%;
}