body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#login-form-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

#login-form-container div, #chat-form-container div {
    margin-top: 10px;
}

#chat-form-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

#message-history-container {
    width: 30%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#message-history-container div {
    margin-top: 10px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 20px;
}

input[type=submit] {
    background-color: darkolivegreen;
    color: white;
    border: none;
    padding: 10px;

}